<%= form_for(user, :html => {:id => 'my-form'}) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :login %>
    <%= f.text_field :login, :required => true %>
  </div>

  <div class="field">
    <%= f.label :pass %>
    <%= f.text_field :pass, :required => true %>
  </div>

  <div class="field">
    <%= f.label :aisid %>
    <%= f.number_field :aisid, :required => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<div id="id"></div>
<div id="name"></div>
